<!-- Using '|| []' is necessary because of
 the level of strictness we have by default -->
<app-video-list
  *ngIf="videos$ | async as videos"
  [videos]="videos || []"
  [selectedId]="(selectedVideo | async)?.id || undefined"
></app-video-list>
<app-video-player
  [video]="(selectedVideo | async) || undefined"
></app-video-player>
<app-stat-filters></app-stat-filters>
