<div class="card" *ngIf="video; else noSelectedVideo">
  <div class="card-content">
    <span class="card-title">{{ video.title }}</span>
    <img [src]="'http://img.youtube.com/vi/' + video.id + '/0.jpg'" />
  </div>
</div>

<ng-template #noSelectedVideo>
  <h3>Please Select a Video!</h3>
</ng-template>
